<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>My TODO's</title>
</head>
<body>
<div class="container">
    <div class="col">
        <div class="row">
            <p class="alert alert-danger text-center m-3">Are you sure you want to delete <strong>"{{item}}"</strong> ? </p>
        </div>
        <div class="row mt-3">
            <table class="table table-info mt-3">
                <tbody>
                <tr>
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <input type="submit" name="Delete" class="btn btn-danger col" value="Delete">
                            <a class="btn btn-success col" href="{% url 'index' %}">Cancel</a>
                        </div>
                    </form>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
</body>
</html>